/**
* @name LilyPichu
* @author Nyria#3863
* @description A theme based on @Melonturtle_ stream design
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

/* Remove decorations */
@import url("https://T4Bl3rUs.github.io/Vencord-Theme/overlay.css");

:root {
    /* --- User variables --- */

    /* Jumping GIF */
    --jumping-gif: url("https://loading.io/mod/spinner/bluecat/sample.gif");

    /* Background (if you want an image replace it by : 
--background-tertiary-alt: url("image-link"); without that => */
    --background-tertiary-alt: #c7f9ff;

    /* Border-radius for the whole theme */
    --border-radius: 20px;
}

.theme-dark {
    /* Text */
    --text-normal: #e1f4f8;
    --header-primary: #e1f7f8;
    --interactive-normal: #b1effa;
    --channels-default: #e1f5f8;

    --text-muted: #c1dbe2;
    --interactive-muted: #8ca6ad;

    --header-secondary: #c1dee2;
    --interactive-hover: #c1dee2;
    --interactive-active: #c1dee2;

    /* Background color */
    --background-primary: #36535e;
    --background-secondary: #294249;
    --background-secondary-alt: #1d3b3b;
    --background-tertiary: #0f1e22;
    --background-floating: #111f22;
    --background-accent: #53b2c5;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
    --toast-background: #36555e !important;
    --toast-header: #1d353b !important;
    --toast-contents: #294749 !important;
    --toast-border: #294249 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

.colorBrand-3cPPsm {
    color: #53aac5;
}

.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
    background-color: #53b2c5 !important;
}

.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
    background-color: #4aa4b6 !important;
}

.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
    color: #53acc5;
    border-color: #53b6c5;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    color: var(--interactive-normal);
}

.theme-light {
    /* Text */
    --text-normal: #63a0a8;
    --header-primary: #639ba8;
    --interactive-normal: #639aa8;
    --channels-default: #63a1a8;

    --text-muted: #63a8a8;
    --interactive-muted: #92cdcf;

    --header-secondary: #92cccf;
    --interactive-hover: #7dbbbe;
    --interactive-active: #6fa8b3;

    /* Background color */
    --background-primary: #ffffff;
    --background-secondary: #eefdff;
    --background-secondary-alt: #c7f4fd;
    --background-tertiary: #bbf7ff;
    --background-floating: #bbf7ff;
    --background-accent: #53bac5;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

.colorBrand-3cPPsm {
    color: #53b8c5;
}

.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
    background-color: #53bec5 !important;
}

.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
    background-color: #4ab6b4 !important;
}

.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
    color: #53c5c3;
    border-color: #53bcc5;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    color: var(--interactive-normal);
}
